<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
    <link rel="icon" href="/img/weather_icon.png">
</head>
<body>
<div class="container">
        <div class="main-content">
    {{>header}}
        <p>
            Enter text in given input box at <a href="/">weather</a> and get weather for that location.
        </p>
        <br>
        <p>
            One new feature is added at <a href="/">weather</a> which gives you weather for your current location.
        </p>
    {{>footer}}
    </div>
</div>
</body>
</html>